@charset "EUC-KR";
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table thead tr th {
	background-color: #E0ECF8;
}
  