<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.orgHttpServletRequest">
<head>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<meta name="description" content="">
<meta name="author" content="">
<title>아세아제지 제품출고현황</title>

<!-- Bootstrap core CSS -->
<link rel="icon" th:href="@{image/icon.ico}">
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{css/bootstrap-4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link th:href="@{css/bootstrap-4.0.0/docs/4.0/examples/dashboard/dashboard.css}" rel="stylesheet" type="text/css">
<link th:href="@{css/users.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<input type="hidden" id="clickedList" value="">
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" style="z-index: 150;position: sticky">
		<a th:if="${session.changePWD != 'Y'}" class="navbar-brand col-xs-2" href="/main.do">
			<img alt="" src="image\150px_logo_hor_white.png">
		</a>
		<img th:if="${session.changePWD == 'Y'}" class="navbar-brand col-xs-2" src="image\150px_logo_hor_white.png">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="/logout">Sign out</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid" style="width:100%; margin: 0px;">
		<div class="row">
			<nav class="col-xs-2 bg-light sidebar" style="margin-top: 63px;width: 200px !important;">
				<div th:if="${session.changePWD != 'Y'}" class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item" style="padding: 12px 0;">
							<a class="nav-link2" href="/board.do"> 
								<span data-feather="info"></span> 공지사항
							</a>
						</li>
						<li class="nav-item" style="padding: 12px 0;">
							<a class="nav-link2" href="/main.do"> 
								<span data-feather="truck"></span> 출고현황
							</a>
						</li>
						<li class="nav-item" style="padding: 12px 0;">
							<a class="nav-link2 active" href="/password.do"> 
								<span data-feather="user"></span> 개인정보
							</a>
						</li>
						<li class="nav-item" style="padding: 12px 0;" sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="nav-link2" href="/users.do"> 
								<span data-feather="users"></span> 유저관리
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main role="main" class="col-xs-9 ml-sm-auto col-xs-10 pt-3 px-4" style="width:100%; margin-left: 200px !important;">
			<h1 class="h3 mb-2 text-gray-800">개인정보</h1>
			<div th:if="${session.changePWD == 'Y'}" style="color: red;font-size: 18px;">
				※ 아이디와 비밀번호가 같아 비밀번호 변경이 필요합니다.	
			</div>
			<p class="mb-4"></p>
				<div class="card shadow xs-4" style="width: 50%;">
					<div class="card-header py-3">
		              <h6 class="m-0 font-weight-bold text-primary">비밀번호 변경</h6>
		            </div>
		            <div class="card-body">
		            	<form class="form-horizontal" name="frm" method="post">
		            	  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		            	  <input type="hidden" id="PWD" name="PWD" value="">
						  <div class="form-group">
						    <label for="pre_pw" class="col-xs-2 control-label">현재 비밀번호</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="pre_pw" name="pre_pw" placeholder="이전 비밀번호를 입력하세요">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="new_pw" class="col-xs-2 control-label">새로운 비밀번호</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="new_pw" name="new_pw" placeholder="새로운 비밀번호를 입력하세요">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="new_pw2" class="col-xs-2 control-label">비밀번호 확인</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="new_pw2" name="new_pw2" placeholder="비밀번호를 한번 더 입력하세요" onkeydown="enterBtn();">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-xs-offset-2 col-xsx-10" style="text-align: center">
						      <a href="javascript:goUpdate()" class="btn btn-primary">변경하기</a>
						    </div>
						  </div>
						</form>
		            </div>
				</div>
			</main>
		</div>
	</div>
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{css/bootstrap-4.0.0/assets/js/vendor/popper.min.js}"></script>
	<script th:src="@{css/bootstrap-4.0.0/dist/js/bootstrap.min.js}"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
      feather.replace()
    </script>
    <script type="text/javascript">
	    function goUpdate() {
			var pre_pw = document.getElementById("pre_pw").value;
			var new_pw = document.getElementById("new_pw").value;
			var new_pw2 = document.getElementById("new_pw2").value;
			
			/*
				비밀번호 유효성 검사 정규식
				1. 8~20자
				2. 영문(대소문자), 숫자, 특수문자 포함
				3. 공백 X
			*/
			var num = new_pw.search(/[0-9]/g);
			var eng = new_pw.search(/[a-z]/ig);
			var spe = new_pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
			
			if(pre_pw != "" && new_pw != "" && new_pw2 != ""){
				$.ajax({
                    type:"POST",
                    url:"/checkMypassword.do",
                    data: {nowPWD : pre_pw},
                    success: function(t){
                    	if (t){
                    		if(new_pw.length < 8 || new_pw.length > 20){
                    			alert("8자리 ~ 20자리 이내로 입력해주세요.");
                   			}else if(new_pw.search(/\s/) != -1){
                   			  	alert("비밀번호는 공백 없이 입력해주세요.");
                   			}else if(num < 0 || eng < 0 || spe < 0 ){
                   			  	alert("영문,숫자, 특수문자를 혼합하여 입력해주세요.");
                   			}else {
                   				if(new_pw == new_pw2){
                    				if(confirm("해당 비밀번호로 변경하시겠습니까?")){
                    					document.getElementById("PWD").value = new_pw;
                        				
                        				var f = document.frm;
                						f.target = "_self";
                						f.action="/updateUserPassword.do";		
                						f.submit();
                    				}
            					} else{
            						alert("새로운 비밀번호 확인을 정확히 입력하여 주십시오.");
            					}
                   			}
                    	} else {
                    		alert("현재 비밀번호 입력이 올바르지 않습니다.");
                    	}
                    },
                    error: function(request, status, error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }  
                });
			} else{
				alert("입력란을 모두 빠짐없이 입력해야합니다.")
			}
		}
		function changeCheck() {
			if(document.getElementById("Success").value == "1"){
				alert("정상적으로 변경되었습니다.");
			} else if(document.getElementById("Success").value == "0"){
				alert("변경에 실패했습니다. 관리자에게 문의하세요.");
			}
		}
		function enterBtn(){
	  		if(event.keyCode == 13)
	  	     {
	  			goUpdate();
	  	     }
	  	}
	</script>
</body>
</html>
